@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

@layer components {
  .box-shadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  .text-shadow {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  }
  .drop-shadow-custom {
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.3));
  }
  /*  */
  .custom-rotate {
    transform: rotate(-10deg);
    display: inline-block; /* Ensures rotation applies correctly */
    padding: 5px 10px; /* Adjust padding for better fit */
    background-color: #ebd96b; /* Background color */
    white-space: nowrap; /* Prevents text wrapping */
    width: fit-content; /* Ensures the width matches the content */
    box-sizing: border-box; /* Includes padding in width calculation */
    text-align: center; /* Centers text within the background */
    overflow: hidden; /* Ensures no visual overflow */
  }
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
  }

  .icon-container img {
    object-fit: contain;
  }
}
